.arena{
    display: grid;
    
    margin: 0 auto;
    /* grid-gap:5px; */
    background-color: gray;
    /* grid-auto-rows: 50px;
    grid-auto-columns: 50px; */
}

.wrap{
    
  
    /* height: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.gem{
    border:1px solid black;
    border-radius: 30%;
    background-color: aqua;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.5s linear;
}
.animate{
    width: 0%;
}
.button-reset{
    border-radius: 10%;
    width: 100px;
    height: 50px;
    background-color: aqua;
}
.victory{
    background-color: chartreuse;
    border: 2px solid aqua;
    border-radius: 20%;
    font-size: large;
    width: 50vt;
    height: 50px;
    z-index: 999;
    position: fixed;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
.menu{
width: 50%;
display: flex;
justify-content: space-around;

}
.win_list{
    text-align: center;
}
.sizeArena{
    display: flex;
    align-items: center;
}
.select_size{
    margin-left: 20px;
    padding: 10px;
    height: 50px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}